@keyframes rotate {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }

.bucket__ring {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 7px solid #d6d6d6;
  border-top: 7px solid #06b2fc;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0; }

@keyframes bubbling {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.bucket__bubble {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #06b2fc;
  animation-name: bubbling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0; }

@keyframes linearMovement {
  0% { }
  50% {
    transform: translateX(400%); }
  100% {
    transform: translateX(-10%); } }

.bucket__bar {
  width: 150px;
  height: 10px;
  background-color: #d6d6d6;
  border-radius: 10px; }

.bucket__bar::after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 100%;
  background-color: #06b2fc;
  border-radius: 100px;
  animation-name: linearMovement;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0; }
